<%- include("header", {title: title}); %>
<head>
    <style>
        .conteiner{
            border-radius: 25px;
            position:relative;
            padding: 1em;
            background-color: rgb(29, 44, 90);
        }
    </style>
</head>
<h1>Update entery</h1>
<div class="conteiner">
    <form method="post">
        <label for="produktKod"> Produkt id</label><br>
        <input id="f_produktKod" type="number" name="f_produktKod" value="<%= eshop[0].produktKod %>" readonly><br>

        <label for="f_pris">Price</label><br>
        <input type="number" name="f_pris" value="<%= eshop[0].pris %>"><br> 

        <label for="f_namn">Name of product</label><br>
        <input type="text" name="f_namn" value="<%= eshop[0].namn %>"><br>

        <label for="f_kort_beskrivning">Discription</label><br>
        <input type="text" name="f_kort_beskrivning" value="<%= eshop[0].kort_beskrivning %>"><br>   

        <label for="f_antal">Amount</label><br>
        <input type="number" name="f_antal" value="<%= eshop[0].antal %>"><br><br>
        <input type="submit" value="Submit">

    </form>
</div>
<br>
<%- include("footer"); %>